doctype html
html(lang='en')
	head
		block title
		include ./head.jade
	body        
		nav.light-blue.lighten-1
			.nav-wrapper.container
				span
					a#logo-container.brand-logo.center(href='/experiences.html') 
						i.material-icons.left.mobile-pad dashboard
						| SupTracked
				ul#nav-mobile.side-nav
					li
						a(href='/quick.html') 
							i.material-icons.left.mobile-pad stay_primary_portrait
							|  Quick
					li
						a(href='/experiences.html') 
							i.material-icons.left.mobile-pad list
							|  Experiences
					li
						a(href='/experience.html?recent') 
							i.material-icons.left.mobile-pad trending_flat
							|  Last Experience
					li
						a(href='/media.html') 
							i.material-icons.left.mobile-pad perm_media
							|  Media
					li
						a(href='/analytics.html') 
							i.material-icons.left.mobile-pad insert_chart
							|  Analytics
					li
						a(href='/raw.html') 
							i.material-icons.left.mobile-pad code
							|  Raw Data 
					li
						a(href='/drugs.html') 
							i.material-icons.left.mobile-pad view_week
							|  Drugs
					li
						a(href='/methods.html') 
							i.material-icons.left.mobile-pad dns
							|  Methods
					li
						a(href='/user.html') 
							i.material-icons.left.mobile-pad perm_identity
							|  User
					li
						a(href='/?logout')
							i.material-icons.left.mobile-pad person_pin
							|  Logout
				a.button-collapse(href='#', data-activates='nav-mobile', style='display: block')
					i.material-icons menu
		block content

		script(src='lib.js')
		block scripts
