nav.light-blue.lighten-1(role='navigation')
  .nav-wrapper.container
    span
      a#logo-container.brand-logo(href='/') 
        i.material-icons.left.mobile-pad dashboard
        | SupTracked
    ul.right.hide-on-med-and-down
      li
        a(href='experiences.html') Experiences
      li
        a(href='index.html?logout') Logout
    ul#nav-mobile.side-nav
      li
        a(href='experiences.html') 
          i.material-icons.left.mobile-pad list
          |  Experiences
      li
        a(href='index.html?logout')
          i.material-icons.left.mobile-pad stop
          |  Logout
    a.button-collapse(href='#', data-activates='nav-mobile')
      i.material-icons menu
