// begin hours_days
a(name='hours_days')
h5 Hourly/Daily Breakdown
.col.s12(style='style="padding: 0; border: 0; margin: 0;')
  div#hourly(height='600', style='margin: 0 auto;')
.col.s12(style='style="padding: 0; border: 0; margin: 0;')
  div#daily(height='600', style='margin: 0 auto;')


// end hours_days
