// begin vitals
h5 Vital Signs
.col.s12
  strong Ranking: 
  span#ranking
  br
  strong First Use: 
  span#useFirst
  br
  strong Last Use: 
  span#useLast
  br
  strong Longest Break: 
  span#tBreak

// end vitals
