/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* make the icon in nav work on mobile */
@media only screen and (max-width: 600px) {
    .mobile-pad {
        padding-top: 1rem !important;
    }
}

.warning-toast {
  background-color: maroon;
  line-height: initial;
}

.success-toast {
  background-color: darkgreen;
  line-height: initial;
}

.consumption-icon {
  padding-left: 10px;
}

.consumption-data {
  padding-left: 10px;
  font-weight: bold;
}

.consumption-location {
  font-style: oblique;
}

.pad-left-40 {
  padding-left: 40px;;
}

.tabs {
  background-color: rgba(255, 255, 255, 0);
}
