extends ../jade-components/logged-in-page.jade

block title
	title Analytics | SupTracked

block content
	main
		.section#selection
			.container
				.row
					.col.s12.m4.offset-m4
						form#drugSelect
							.card
								.card-content
									span.card-title.blue-text.text-darken-2 Analytics
									.row
										.input-field.col.s12
											labels Drug
											select#drug.browser-default
												option('disabled')#loadingOpt Loading...
								.card-action
									.row
										.col.s6.offset-s6.right-align
											button.btn.waves-effect.waves-light.page-action(type='submit', value='create')
												| Analyze
												i.material-icons.right trending_up
		.section#loading(style='display: none;')
			.container
				.row
					.col.m12
						h5.center-align Analyzing 
							span.drugName
							|  usage (
							span#analyticsComplete 0
							| %)
						br 
						.progress
							.determinate#analyticsProgress(style='width: 0%;')
		.section#analytics(style='display: none;')
			.container
				.row
					.col.m12
						.row
							h4
								span.drugName(style='text-transform: capitalize;')
								|  Data Sheet
				.row
					.col.m6
						h5 Index
						ul
							li
								a(href='#basic') Basic Data
							li
								a(href='#notes') Notes
							li
								a(href='#vitals') Vital Signs
							li
								a(href='#experience_list') Experience List
							li
								a(href='#top') Top
							li
								a(href='#hours_days') Hourly/Daily Breakdown
								
					.col.m6
						.row
							.col.m12
								a(name='basic')
								h5 Basic Data
								.col.m12
									strong Unit: 
									span#unit
									br
									strong Classification: 
									span#classification
									br
									strong Family: 
									span#family
									br
									strong Rarity: 
									span#rarity
				hr
				a(name='notes')
				.row
					.col.m6
						h5 Notes
						.col.m12
							span#notes
					.col.m6
						a(name='vitals')
						h5 Vital Signs
						.col.s12
							strong Ranking: 
							span#ranking
							br
							strong First Use: 
							span#useFirst
							br
							strong Last Use: 
							span#useLast
							br
							strong Longest Streak: 
							span#streak
							br
							strong Longest Break: 
							span#tBreak
							br
							strong Largest Single Doses: 
							span#largeDose
				hr
				.row
					.col.m12
						a(name='experience_list')
						h5 Experience List
						.col.s12
							#heightLimiter(style='height: 300px; overflow: auto;')
								ul.collection#experienceContainer
				hr
				.row
					.col.m12
						a(name='top')
						h5 Top
						.col.s6
							h6 Top Friends
							div#topFriends
						.col.s6
							h6 Top Locations
							div#topLocations
				hr
				.row
					.col.m12
						a(name='hours_days')
						h5 Hourly/Daily Breakdown
						.col.s12(style='style="padding: 0; border: 0; margin: 0;')
							div#hourly(height='600', style='margin: 0 auto;')
						.col.s12(style='style="padding: 0; border: 0; margin: 0;')
							div#daily(height='600', style='margin: 0 auto;')
block scripts
	script(src='https://code.highcharts.com/highcharts.js')
	script(src='https://code.highcharts.com/modules/exporting.js')
	script(src='js/analytics.js')
	script(src='js/analytics_display.js')
	
