extends ../jade-components/logged-in-page.jade

block title
	title Analytics | SupTracked

block content
	main
		.section#loading
			.container
				.row
					.col.m12
						h5.center-align Analyzing 
							span.drugName
							|  usage (
							span#analyticsComplete
							| )
						br 
						.progress
							.determinate#analyticsProgress(style='width: 0%;')
		.section#none(style='display: none;')
			.container
				.row
					.col.m12
						h5.center-align No consumptions! 
		.section#analytics(style='display: none;')
			.container
				.row
					.col.m12
						.row
							h4
								span.drugName(style='text-transform: capitalize;')
								|  Data Sheet
							.input-field.col.s12
								labels Drug
									select#drug.browser-default
				.row
					.col.m12
						h5 Index
						ul.inlineMenu
							li
								a#drugEntry(href='', target='_blank') [Drug Entry]
							li
								a(href='#basic') Basic Data
							li
								a(href='#notes') Notes
							li
								a(href='#purchasing') Purchasing
							li
								a(href='#vitals') Vital Signs
							li
								a(href='#experience_list') Experience List
							li
								a(href='#top') Top
							li
								a(href='#hours_days') Hourly/Daily/Weekly Breakdown

				hr
				.row
					.col.m6
						a(name='basic')
						h5 Basic Data
						.col.m12
							strong Unit:
							span#unit
							br
							strong Classification:
							span#classification
							br
							strong Family:
							span#family
							br
							strong Rarity:
							span#rarity
							br
							strong Methods:
							ul.pad-left-40#methods

					.col.m6
						a(name='notes')
						h5 Notes
						.col.m12
							span#notes

				hr
				.row
					.col.s12
						a(name='vitals')
						h5 Vital Signs
						.col.s12
							strong Ranking: 
							span#ranking
							br
							strong First Use: 
							span#useFirst
							br
							strong Last Use: 
							span#useLast
							hr
							strong Longest Streak: 
							span#streak
							br
							strong Longest Break: 
							span#tBreak
							hr
							strong Most Done in an Hour:
							span#hourRecord
							br
							strong Largest Single Doses:
							span#largeDose
				hr
				.row
					.col.s12
						a(name='purchasing')
						h5 Purchasing
						p Total: 
							span#purchasedRecord
							|  for $
							span#purchasedCost
						p Avg. Price: $
							span#avgPrice
							|  per 
							span.purchaseUnit
						table
							thead
								tr
									th Del
									th Date
									th
										| Amount (
										span.purchaseUnit
										| )
									th Cost
									th Notes
							tfoot
								tr
									th
									th
										input#addPurchaseDate(placeholder='YYYY-MM-DD')
									th
										input#addPurchaseCount()
									th
										input#addPurchaseCost()
									th
										input#addPurchaseNotes()
							tbody#noteEntries
						a.waves-effect.waves-light.btn.page-action(onClick='addPurchasing();', style='width: 100%;') Add Entry

				hr
				.row
					.col.m12
						a(name='experience_list')
						h5 Experience List
						.col.s12
							#heightLimiter(style='height: 300px; overflow: auto;')
								ul.collection#experienceContainer
				hr
				.row
					.col.m12
						a(name='top')
						h5 Top
						.col.s6
							h6 Top Friends
							div#topFriends
						.col.s6
							h6 Top Locations
							div#topLocations
				hr
				.row
					.col.m12
						a(name='hours_days')
						h5 Hourly/Daily/Weekly Breakdown
						.row
							.col.s12(style='style="padding: 0; border: 0; margin: 0;')
								div#hourly(height='600', style='margin: 0 auto;')
						.row
							.col.s12(style='style="padding: 0; border: 0; margin: 0;')
								div#daily(height='600', style='margin: 0 auto;')
						.row
							.col.s12(style='style="padding: 0; border: 0; margin: 0;')
								div#weekly(height='600', style='margin: 0 auto;')
block scripts
	script(src='https://code.highcharts.com/highcharts.js')
	script(src='https://code.highcharts.com/modules/exporting.js')
	script(src='js/analytics.js')
	script(src='js/analytics_display.js')
