extends ../jade-components/logged-in-page.jade

block title
  title Analytics | SupTracked

block content
    main
      .container
        h4 Analytics

block scripts
  script(src='js/analytics.js')
  script(src='js/analytics_display.js')
