extends ../jade-components/logged-in-page.jade

block title
	title Analytics | SupTracked

block content
	main
		.section#selection
			.container
				.row
					.col.s12.m4.offset-m4
						form#drugSelect
							.card
								.card-content
									span.card-title.blue-text.text-darken-2 Analytics
									.row
										.input-field.col.s12
											labels Drug
											select#drug.browser-default
												option('disabled')#loadingOpt Loading...
								.card-action
									.row
										.col.s6.offset-s6.right-align
											button.btn.waves-effect.waves-light.page-action(type='submit', value='create')
												| Analyze
												i.material-icons.right trending_up
		.section#loading(style='display: none;')
			.container
				.row
					.col.m12
						h5.center-align Analyzing 
							span.drugName
							|  usage (
							span#analyticsComplete 0
							| %)
						br 
						.progress
							.determinate#analyticsProgress(style='width: 0%;')
		.section#analytics(style='display: none;')
			.container
				.row
					.col.m12
						.row
							h4
								span.drugName(style='text-transform: capitalize;')
								|  Data Sheet
						h5 Index
						ul
							li
								a(href='#basic') Basic Data
							li
								a(href='#notes') Notes
							li
								a(href='#vitals') Vital Signs
							li
								a(href='#experience_list') Experience List
							li
								a(href='#top') Top
							li
								a(href='#hours_days') Top
				hr
				.row
					.col.m12
						a(name='basic')
						h5 Basic Data
						.col.m12
							strong Unit: 
							span#unit
							br
							strong Classification: 
							span#classification
							br
							strong Family: 
							span#family
							br
							strong Rarity: 
							span#rarity
				hr
				a(name='notes')
				.row
					.col.m12
						h5 Notes
						.col.m12
							span#notes
				hr
				.row
					.col.m12
						include ./analytics/vitals.jade
				hr
				.row
					.col.m12
						include ./analytics/experience_list.jade
				hr
				.row
					.col.m12
						include ./analytics/top_listings.jade
				hr
				.row
					.col.m12
						include ./analytics/hours_days.jade
block scripts
	script(src='https://code.highcharts.com/highcharts.js')
	script(src='https://code.highcharts.com/modules/exporting.js')
	script(src='js/analytics.js')
	script(src='js/analytics_display.js')
	
