extends ../jade-components/logged-in-page.jade

block title
  title Experiences | SupTracked

block content
  main
    .container
      .section#loading
        h5.center-align Loading experiences
        br 
        .progress
          .indeterminate
      .section#emptyExperiences(style='display: none;')
        ul.collection
          li.collection-item.avatar
            i.material-icons.circle report_problem
            span.title No Experiences Found
            a.secondary-content(href='newexperience.html')
              i.material-icons add
      .section#experiences(style='display: none;')
        ul.collapsible(data-collapsible='accordion')
          li
            .collapsible-header
              i.material-icons filter_drama
              | Filter
            .collapsible-body
              form#filterForm
                p
                  label.active(for='filterTitle') Title
                  input#filterTitle(type='text')
                  label.active(for='filternotes') Notes
                  input#filterNotes(type='text')
                  label.active(for='filterStartDate') Start Date
                  input#filterStartDate(type='text')
                  label.active(for='filterEndDate') End Date
                  input#filterEndDate(type='text')
                  button.btn.waves-effect.waves-light(type='submit', value='create', style='margin-top: 25px; width: 100%')
                    | Filter
                    i.material-icons.right search
        ul.collection#experiences-collection
        
      .fixed-action-btn(style='bottom: 45px; right: 24px;')
        a.btn-floating.btn-large.red(href='newexperience.html')
          i.large.material-icons add
            
block scripts          
  script(src='js/experiences.js')
