include ../jade-components/structure/head
doctype html
mixin head('Authenticate')
body
  include ../jade-components/structure/nav-login
  main
    .container
      .section
        // Icon Section
        .row
          .col.s12.m6.offset-m3
            form(name="authenticate", id="authenticate")
              .row
                .input-field.col.s12
                  i.material-icons.prefix account_circle
                  input#username.validate(type='text')
                  label(for='username') Username
              .row
                .input-field.col.s12
                  i.material-icons.prefix lock
                  input#password.validate(type='password')
                  label(for='password') Password
              .row
                .input-field.col.s12
                  i.material-icons.prefix cloud
                  input#server.validate(type='text', value='127.0.0.1:3000')
                  label(for='server') Server
              .row
                .col.s6
                  button.btn.waves-effect.waves-light(type='submit', value='login')
                    | Log In
                    i.material-icons.right flight

                .col.s6.right-align
                  button.btn.waves-effect.waves-light(type='submit', value='register')
                    | Register
                    i.material-icons.right add
                  
                    
  include ../jade-components/structure/footer
  script(src='js/index.js')
