extends ../jade-components/logged-in-page.jade

block title
  title Methods | SupTracked

block content
    main
      .container
        h4 Edit Methods
        label Method Select
        select.browser-default#methodList
        hr
        .row
          .input-field.col.s12
            input#name(type='text')
            label#nameLabel(for='name') Name 
          .input-field.col.s12
            input#icon(type='text')
            label#iconLabel(for='icon') Icon 
        a.waves-effect.waves-light.btn.page-action#saveNew(style='width: 100%;', onClick='saveNew();') Create New Method
        a.waves-effect.waves-light.btn.page-action#deleteMethod(style='width: 100%;', onClick='deleteMethod();') Delete Method

block scripts
  script(src='js/methods.js')
