include ../jade-components/structure/head
doctype html
mixin head('Experiences')
body
  include ../jade-components/structure/nav
  main
    .container
      .row
        .col.s12.m8.offset-m2
          .card.blue-grey.darken-1
            .card-content.white-text
              span.card-title New Experience
              .row
                .input-field.col.s12
                  input#title(type='text')
                  label(for='title') Title
              .row
                .input-field.col.s12
                  input.datepicker#date(type='date')
                  label(for='date') Date
              .row
                .input-field.col.s12
                  input#time(type='text')
                  label(for='time') Time
            .card-action
              a(href='#') This is a link
          
  include ../jade-components/structure/footer
  script(src='js/newexperience.js')
