extends ../jade-components/logged-in-page.jade

block title
  title User | SupTracked

block content
    main
      .container
        h4 Edit User
        .row
          .input-field.col.s12
            input#username(type='text', disabled)
            label#usernameLabel(for='username') Username 
          .input-field.col.s12
            input#emergcontact(type='text')
            label#emergcontactLabel(for='emergcontact') Emergency Contact Phone Number
          .input-field.col.s12
            input#phone(type='text')
            label#phoneLabel(for='phone') Your Phone Number

        h4 Password change
        form#updatePass
          .input-field.col.s12
            input#password(type='password')
            label(for='password') New Password
          .input-field.col.s12
            input#passwordConfirm(type='password')
            label(for='passwordConfirm') Confirm
          button.waves-effect.waves-light.btn#changePass(style='width: 100%;') Change Password
          
        h4 User Audit Log
        ul.collection#auditLog
        
block scripts
  script(src='js/user.js')
